@use '../custom' as *;
@use '../components/mixins' as *;


.footer{
    padding: 1rem;
    background-color: $footer;
}

// STYLE THE CONTEXT-BOX CONTENT 

.contact-box{
    &__icon{
        width: 2rem;
        stroke: $primary;
        padding-top: 0.6rem;

        @include media-breakpoint-up(sm){
            width:4rem;
        }
        
    }
    &__info{
        padding: 0.4rem;
        font-weight: 600;

        &--title{
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm){
                font-size: 1.4rem;
            }
        }
        
        &--subtitle{
            color: $gray-600;
            text-decoration: none;
            font-size: .8rem;

            @include media-breakpoint-up(sm){
                font-size: 1rem;
            }

        }
    }
}

// STYLE SOCIAL MEDIA 

.footer-sm{

    a{
        color:$white;
        i{
            font-size: 1rem;
            margin-left: 1rem;

            @include media-breakpoint-up(sm){
                font-size: 1.6rem;
            }
        }
    }
}

// STYLE THE COMPNAY INFO CONTENT 
.company-list{
    display: block;
    position: relative;
    list-style-type: none;
    // border: 1px solid red;

    li{
        margin-bottom: 0.5rem;

        a{
            color:$white;
            text-decoration: none;

            &:hover{
                color:$primary;
            }
        }
    }
}

// STYLE THE COPYRIGHT CONTENT 
.footer-bottom{
    background-color: $black;

    &__copyright{
        color: $gray-600;
        font-weight: 400;

        a{
            color: $gray-300;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
                color: $primary;
            }
        }
    }
}

// STYLE BACK-TO-TOP BUTTON 
.back-to-top{
    position:fixed;
    right: 1rem;
    bottom: 1rem;
    width:3rem;
    height:3rem;
    z-index: 999;

    i{
        color: $white;
        font-size: 1rem;
        @include absoluteCenter;
    }
}

